{% extends 'layout.html.twig' %}

{% block contents %}
<div id="welcome">
    <h1><span>Welcome to</span> Tolerance's Symfony Service Example</h1>
</div>

<div id="status">
    <p>
        Your application is ready to start working.
    </p>
</div>

<div id="next">
    <h2>What's next?</h2>
    <ul>
        <li>
            <strong>Call an API</strong>
            <a href="{{ path('last_release') }}">Get the last Tolerance release</a>
        </li>
    </ul>
</div>
{% endblock %}
